[format]
	pretty = %Cblue%h%Creset %ad %Cgreen%an%Creset %s%C(yellow)%d
[alias]
	hist = !git log --graph --date=short --date-order ${@:---all}
[user]
	name = Jonny Scholes
	email = jonnyscholes@gmail.com
[core]
	excludesfile = ~/.gitignore_global
